# Parametri pipeline
LOCATIONS='[{"id":"COLOSSEUM_ROME","lat":41.889915,"lon":12.491949},{"id":"DUOMO_MILAN","lat":45.464098,"lon":9.191926}]'
PANEL_AREA=0.7                              #m^2 of panels
PANEL_EFFICIENCY=0.2               
START_DATE=2024-01-01               
END_DATE=2024-12-31                 
GCP_PROJECT_ID=your-project-id              #the same in the terraform.tfvars file
GCP_BUCKET=solar-raw-noble-sun              #the same in the terraform.tfvars file
